@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px !important;
  font-family: "Montserrat", sans-serif;
  overflow: scroll;
}

html {
  scroll-behavior: smooth;
}

a {
  color: rgb(97, 97, 98) !important;
  transition: 0.3s all;
}

a:hover{
  color:rgb(101, 103, 194) !important;
}

.underTitleBox{
  font-size: 20px;
  font-weight: 500;
}
img {
  transition: all 0.4s;
}
img:hover{
  transform: scale(1.1);
}


header {
  min-height: 90px;
  position: fixed;
  width: 100vw;
  background-color: #5B9BD5;
  display: -webkit-box;
  display: -ms-flexbox;
  overflow-y:scroll;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10000;
}
header img {
  margin: 0px !important;
}
header .topCover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 90px;
}
header a img {
  width: 38px !important;
  height: auto;
}
header #menuLogo {
  position: absolute;
  right: 50px;
  width: 30px;
  cursor: pointer;
}

.menu {
  min-height: 100px;
  width: 100vw;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #6ba8e0;
  border-bottom: 3px solid #034480;
  -webkit-transition: all 0.6s linear;
  transition: all 0.6s linear;
}
.menu .menuLine {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
}
.menu .menuLine .moduleName {
  cursor: pointer;
  color: rgb(32, 32, 32);
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: ropw;
          flex-direction: ropw;
}
.menu .menuLine .moduleName::after {
  content: "⤦";
  font-weight: bold;
  margin-left: 15px;
  font-size: 15px;
}
.menu .menuLine .moduleInsides {
  background-color: white;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 5%;
  color: rgb(32, 32, 32);
}
.menu .menuLine .moduleInsides li {
  list-style: none;
  margin: 5px 0px 5px 0px;
  font-size: bold;
}
.menu .menuLine .moduleInsides ul {
  padding: 10px !important;
}

a {
  text-decoration: none;
}

footer {
  width: 100wh;
  height: 215px;
  background-color: #5B9BD5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 24px;
  margin-top: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

main {
  padding-top: 70px;
  text-align: justify !important;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.introduction .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.introduction .logo img {
  padding: 30px;
}
.introduction p {
  width: 750px;
  font-size: 24px;
}

.introductionBlock {
  text-align: center;
  margin-top: 60px;
}
.introductionBlock h1 {
  font-weight: 800;
  color: #0860b3;
  margin: 50px 0px 50px 0px;
}

.block {
  width: 100wh;
  height: 100px;
  color: white;
  background-color: #5B9BD5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block h4 {
  width: 1200px;
  font-size: 20px;
  font-weight: 400;
}
.block h3 {
  font-size: 24px;
  font-weight: 400;
}
.commonBlock{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 60px;
}

.stemBlock {

}
.stemBlock .helpBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column;
}
.stemBlock .helpBlock img {
  width: 250px;
  transform: none;
}
.stemBlock .helpBlock p {
  font-size: 24px;
  max-width: 600px;
  margin: 100px 100px 100px 0px
}
.stemBlock .stemImg {
width:400px !important;
height:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.stemBlock .stemImg img {
  width:600px;
  height:100%;

}
.stemBlock .contactBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          justify-content: center;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.stemBlock .contactBlock img {
  margin: 30px 50px 30px 145px;
  width: 70px;
}

.firstBlock {
  margin-top: 50px;
  margin-bottom: 50px;
}
.firstBlock h2 {
  font-size: 34px;
  font-weight: 500;
}
.firstBlock p {
  padding: 70px 150px 30px 150px;
  font-size: 24px;
}

.modularWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}
.modularWindow h5 {
  margin-top: 50px;
  font-size: 20px;
}
.modularWindow .modules {
  margin-top: 50px;
}
.modularWindow .modules .moduleShown {
  width: 1370px;
  height: 70px;
  background-color: #5B9BD5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid #034480;
}
#banner {
  width:100%;
  transform: none;
  margin-bottom: 60px;
}
.modularWindow .modules .moduleHidden {
  width: auto;
  max-width: 1374px;
  height: 130%;
  background-color: #D2E5F6 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start !important;
  font-size: 24px;
  cursor: pointer;
  border: 2px solid #034480;
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}
.modularWindow .modules .moduleHidden li {
  padding: 5px;
}

.moduleInactive {
  display: none !important;
  opacity: 0;
}
br{
  margin: 5px 0px 5px;
}
.menu ul li a::before{
  content: "-";
  position: relative;
}
.columnBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
  text-align: justify;
}

.parentsBlock{
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0px 50px 0px;
}
.parentsBlock p {
  text-align: center !important;
  max-width: 400px;
}
.childsBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:400px;
  margin: 20px;
}
.childsBlock img{
width:400px;
height:auto;
}


@media only screen and (max-width: 1000px) {
  .helpBlock p {
    font-size: 16px;
  }

  footer {
    font-size: 18px;
  }

  .stemImg img {
    width: 600px !important;
    height: 400px !important;
  }
  header .menu{
      flex-direction: column;
  }
  .contactBlock li {
    font-size: 18px;
  }

  .firstBlock p {
    font-size: 18px;
  }

  .modularWindow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
  .modularWindow h5 {
    margin-top: 50px;
    font-size: 16px;
  }
  .modularWindow .modules .moduleShown {
    width: 670px;
    height: 40px;
    background-color: #5B9BD5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #034480;
  }
  .modularWindow .modules .moduleHidden {

    height: 130%;
    background-color: #D2E5F6 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #034480;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
  }
  .modularWindow .modules .moduleHidden li {
    padding: 5px;
  }
  .helpBlock img{
    width:200px !important;
  }
  .helpBlock p {
    font-size: 16px !important;
    margin:20px !important;
  }
  .stemImg img {
    width: 200px!important;
    height: auto !important;
  }
  .contactBlock li {
    font-size: 14px !important;
  }
  .secondBlockHeader h2{
    font-size: 18px !important;
  }
  .contactBlock img {
    width: 40px!important;
    height: auto!important;
    margin: 0px !important;
  }
  .moduleShown{
    text-align: center;
  }
  ul li, ol li {
    font-size: 14px !important;
  }
  .content {
    width: 90vw !important;
    font-size: 16px !important;
  }
  .imgText {
    font-size: 14px!important;
    margin: 20px!important;
    flex-direction: column !important;
  }
  .imgText img {
    width:250px !important;
    height: auto!important;
        margin: 20px!important;;
  }
}